/************************/
/*** Common elements ***/
/**********************/
body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;

    font-family: 'Raleway', sans-serif;
}


h1, h2, h3, h4 {
    display: inline-block;
    margin: 0;

    font-weight: 700;
}

h1 {
    font-size: x-large;
}

h2 {
    font-size: larger;
}

h3 {
    font-size: large;
}

h4 {
    font-size: medium;
}

span p a {
    font-weight: 500;
}

b {
    font-weight: 700;
}


.divImage {
    background-size: cover;
    background-position: center;
}

.fullStar {
    width: 12px;
    height: 12px;

    filter: invert(39%) sepia(78%) saturate(6791%) hue-rotate(211deg) brightness(100%) contrast(106%);
}

.emptyStar {
    width: 12px;
    height: 12px;

    filter: invert(100%) sepia(0%) saturate(1095%) hue-rotate(28deg) brightness(85%) contrast(98%);
}



/***************/
/*** Header ***/
/*************/
header {
    display: flex;
    justify-content: space-between;
}

.reserviaLogo {
    width: 97px;
    height: 45px;
    position: absolute;
    left: 3.5%;
    z-index: 1;
}

.headerButtons {
    display: flex;
    align-items: flex-end;
    position: relative;
    right: 3.5%;
}


/* Nav buttons */
nav {
    display: flex;  
}

nav > a {
    text-align: center;
    text-decoration: none;
}

[href="#hébergements"] { 
    color: #0065fc;
}

[href="#activités"] {
    color:  black;
}


/* Signup button */
.signupButton {
    position: relative;
    right: 3.5%;

    font-weight: 700;
    text-decoration: none;
    color: #0065fc;
}

.signupButton:hover {
    filter: brightness(75%);
}



/*************/
/*** Main ***/
/***********/
main {
    flex-grow: 1;
    padding-bottom: 62px;
}

/* Introduction */
.introduction_title {
    margin: 0px auto 0.4em 3.5%;
}

.introduction {
    margin: 0 0 0 3.5%;
}


/* Search section */
.searchSection {
    margin: 0 3.5% 0 3.5%;
}

.searchBar { /* Search bar */
    display: flex;
    width: 93vw; /*width: 420px;*/
    max-width: 336px;
    height: 51px;
    margin-bottom: 31px;

    background-color: #F2F2F2;
    border-radius: 10px;
}

.searchBar_icon {
    width: 13px;
    height: 18px;
    margin: 17px auto auto 19px;
    padding-right: 21px;
}

.searchBar_input {
    width: calc(93vw - 102px);
    max-width: 234px;
    height: 49px;
    margin-top: 1px;

    font-weight: 700;
    font-size: larger;
    border: none;
    outline: none;
}

.searchBar_button {
    width: 134px;
    height: 51px;

    border-radius: 0px 10px 10px 0px;
    background-color: #0065FC;
    font-size: larger;
    color: white;
    border: none;
    outline: none;
}

.searchBar_button:hover {
    background-color: #0052cc;
    cursor: pointer;
}

.searchBar_button:active {
    border: none;
}

.searchBar_searchIcon {
    width: 17px;
    height: 17px;
    position: relative;
    top: 2px;
    
    filter: invert(100%) sepia(0%) saturate(7500%) hue-rotate(95deg) brightness(108%) contrast(109%);
}


.searchFilters_title { /* Search filters */
    display: inline;
    margin: 0 auto 0 auto;
}

.searchFilters {
    display: flex;
    flex-wrap: wrap;
    padding-top: 19px;
}

.filterSwitch {
    display: flex;
    align-items: center;
    width: fit-content;
    height: 46px;
    margin-left: 24px;

    border-radius: 22px 22px 22px 22px;
    border: 2px solid #d9d9d9;
}

.filterSwitch_iconFrame {
    width: 50px;
    height: 50px;
    margin-left: -4px;

    border-radius: 25px 25px 25px 25px;
    background-color:#DEEBFF;
}

.filterSwitch_icon {
    width: 18px;
    height: 17px;
    margin: 17px auto auto 16px;

    filter: invert(39%) sepia(78%) saturate(6791%) hue-rotate(211deg) brightness(100%) contrast(106%);
}

.filterSwitch h4 {
    padding: 0px 13px 0px 13px;
}


/* Result text */
.resultText {
    margin: 40px auto 40px 3.5%;
}

.resultText_iconFrame {
    width: 22px;
    height: 22px;
    position: absolute;

    border-radius: 11px 11px 11px 11px;
    border: 1px solid #d9d9d9;
}

.resultText_icon {
    width: 4px;
    height: 12px;
    margin: 5px auto auto 9px;

    filter: invert(39%) sepia(78%) saturate(6791%) hue-rotate(211deg) brightness(100%) contrast(106%);
}

.resultText p {
    display: inline-block;
    margin: 0px auto 0px calc(22px + 12px);
}


/* Host sections */
#hostResult_and_popularHosts {
    display: flex;
    flex-wrap: wrap;
    margin: auto 3.5% auto 3.5%;
}

.hostSection {
    position: relative;

    border-radius: 16px 16px 16px 16px;
    background-color: #f2f2f2;
}

.hostSection_title {
    position: relative;
    top: 47px;
    left: 40px;
}

.hostSection_tiles {
    display: grid;
    margin-top: 38px;
    padding: 20px;
}

.tileTitle {
    margin-left: 10px;
}

.tilePrice {
    margin-left: 10px;
    font-size: small;
}

.tileRating {
    margin-left: 10px;
}


/* Hosts from search result section */
.hostResult_tile {
    width: fit-content;
    height: fit-content;
    margin: 15.5px;
    padding: 5px;

    border-radius: 15px 15px 15px 15px;
    box-shadow: 0px 0px 16px gray;
    background-color: white;
}

.hostResult_tileImage {
    width: 212.4px;/*236px;*/
    height: 102.6px;/*114px;*/
    margin-bottom: 12px;

    border-radius: 10px 10px 0px 0px;
    background-size: cover;
    background-position: center;
}

.hostResult_seeMore {
    margin-bottom: 66px;
    position: relative;
    top: 10px;
    left: 40px;
}

.hostResult_seeMore > a {
    color: black;
    text-decoration: none;
}

.hostResult_seeMore > a:hover {
    color: #595959;
}

/* Host images from search result */
#aubergeLaCannebiere {
    background-image: url("images/hebergements/4_small/marcus-loke-WQJvWU_HZFo-unsplash.jpg");
}

#hotelDuPort {
    background-image: url("images/hebergements/4_small/fred-kleber-gTbaxaVLvsg-unsplash.jpg");
}

#hotelLesMouettes {
    background-image: url("images/hebergements/4_small/reisetopia-B8WIgxA_PFU-unsplash.jpg");
}

#hotelDeLaMer {
    background-image: url("images/hebergements/4_small/annie-spratt-Eg1qcIitAuA-unsplash.jpg");
}

#aubergeLePanier {
    background-image: url("images/hebergements/4_small/nicate-lee-kT-ZyaiwBe0-unsplash.jpg");
}

#hotelChezAmina {
    background-image: url("images/hebergements/4_small/febrian-zakaria-M6S1WvfW68A-unsplash.jpg");
}


/* Popular hosts section */
.popularHosts_chartLine {
    width: 22px;
    height: 18px;
    position: absolute;
    top: 65px;
    right: 32px;
}

.popularHosts_tile {
    display: flex;
    max-width: 253px;
    height: 120.6px;
    margin: 15.5px;
    padding: 5px;

    border-radius: 15px 15px 15px 15px;
    box-shadow: 0px 0px 16px gray;
    background-color: white;
}

.popularHosts_tileImage {
    display: inline-block;
    min-width: 74.3px; /*127px;*/
    height: 120.6px;/*134px;*/

    border-radius: 10px 0px 0px 10px;
    background-position: center;
    background-size: cover;
}

.popularTileInfo {
    margin-right: 33.6px;
    position: relative;
}

.popularTileInfo .tileRating {
    position: absolute;
    bottom: 0;
}

/* Popular hosts images */
#hotelLeSoleilDuMatin {
    background-image: url("images/hebergements/4_small/emile-guillemot-Bj_rcSC5XfE-unsplash.jpg");
}

#auCoeurDeLeauChambresDhotes {
    background-image: url("images/hebergements/4_small/aw-creative-VGs8z60yT2c-unsplash.jpg");
}

#hotelToutBleuEtBlanc {
    background-image: url("images/hebergements/4_small/febrian-zakaria-sjvU0THccQA-unsplash.jpg");
}


/* Activities section */
.activitySection {
    margin: 47px 3.5% auto 3.5%;
}

.activityTiles {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 1230px;
    height: 445px;
    margin: auto -20px auto -20px;
}

.activityTile {
    width: calc((93% - (3 * 40px)) / 4);
    margin: auto 20px auto 20px;
    padding-bottom: 36px;

    border-radius: 15px 15px 15px 15px;
    box-shadow: 0px 0px 16px gray;
}

.activityTileImage {
    border-radius: 15px 15px 0px 0px;
}

.activityTitle {
    margin: 0 auto 0 20px;
    position: relative;
    top: 20px;
}

/* Activity images */
#vieuxPort {
    background-image: url("images/activites/3_medium/reno-laithienne-QUgJhdY5Fyk-unsplash.jpg");
    height: 390px;
}

#fortDePomegues {
    background-image: url("images/activites/3_medium/paul-hermann-QFTrLdQIRhI-unsplash.jpg");
    height: 181px;
}

#ilesDuFrioul {
    background-image: url("images/activites/3_medium/kevin-hikari-rV_Qd1l-VXg-unsplash.jpg");
    height: 109px;
}

#parcNationalDesCalanques {
    background-image: url("images/activites/3_medium/kilyan-sockalingum-NR8-cBCN3aI-unsplash.jpg");
    height: 390px;
}

#notreDameDeLaGarde {
    background-image: url("images/activites/3_medium/florian-wehde-xW9e8gdotxI-unsplash.jpg");
    height: 140px;
}

#parcLongchamp {
    background-image: url("images/activites/3_medium/lena-paulin-wH2-EJoDcV0-unsplash.jpg");
    height: 153px;
}


/***************/
/*** Footer ***/
/*************/
footer {
    display: flex;
    padding: 49px 3.5% 55px 3.5%;

    background-color: #F2F2F2;
}

/* Footer info sections (about, our hosts or assistance) */
footer > div {
    flex-grow: 1;
    width: 0%;
}

footer > div > p > a {
    text-decoration: none;
    color: black;
}

footer > div > p > a:hover {
    color: #595959;
}




/*////////////////////*/
/*// LARGE SCREENS //*/
/*//////////////////*/

@media only screen and (min-width: 801px) {
    /***************/
    /*** Header ***/
    /*************/
    .reserviaLogo {
        margin-top: 52px;
    }

    /* Nav buttons */
    nav > a {
        padding: 45px 32.5px 0px 32.5px;
    }

    nav > a:hover {
        padding-top: 43px;

        border-top: 2px solid #0065fc;
    }

    .always_active {
        padding-top: 43px;

        border-top: 2px solid #0065fc;
    }


    /* Signup button */
    .signupButton {
        margin-left: 32.5px;
    }



    /*************/
    /*** Main ***/
    /***********/
    main {
        margin-top: 72px;
    }

    /* Introduction */
    .introduction_title {
        margin-bottom: 0.4em;
    }
    
    .introduction {
        margin-block-end: 1.5em;
    }


    /* Search section */
    .searchBar_searchIcon { /* Search bar */
        display: none;
    }


    .searchFilters { /* Search filters */
        display: inline-flex;
        margin-top: 0;
    }
    

    /* Host sections */
    .hostResult_tiles { /* Hosts from search result section */
        grid-template-columns: 1fr 1fr 1fr;
    }

    /* Popular hosts section */
    .popularHosts {
        margin-left: 40px;
    }

    .popularHosts_tiles {
        grid-template-columns: 1fr;
    }
}




/*/////////////////////*/
/*// MEDIUM SCREENS //*/
/*///////////////////*/

@media only screen and (min-width: 801px) and (max-width: 1262px) {
    /*************/
    /*** Main ***/
    /***********/

    /* Host sections */
    .popularHosts { /* Popular hosts section */
        max-width: 800px;
        margin: 40px auto auto 0px;
    }

    .popularHosts_tiles {
        grid-template-columns: 1fr 1fr 1fr;
    }


    /* Activities section */
    .activityTiles {
        max-width: 840px;
    }
}




/*////////////////////*/
/*// SMALL SCREENS //*/
/*//////////////////*/

@media only screen and (max-width: 800px) {
    /***************/
    /*** Header ***/
    /*************/
    .reserviaLogo {
        margin-top: 32px;
    }

    .headerButtons {
        flex-direction: column-reverse;
        width: 100%;
        margin-top: 45px;
        left: 0;
    }


    /* Nav buttons */
    nav { 
        width: 100%; 
        margin-top: 45px;
    }

    nav > a {
        width: 50%;
        padding-bottom: 13px;
    }

    nav > a:hover {
        padding-bottom: 11px;

        border-bottom: 2px solid #0065fc;
    }

    .always_active {
        padding-bottom: 11px;

        border-bottom: 2px solid #0065fc;
    }



    /*************/
    /*** Main ***/
    /***********/
    main {
        margin-top: 40px;
    }

    /* Introduction */
    .introduction {
        margin-block-end: 2em;
    }


    /* Search section */
    .searchBar { /* Search bar */
        width: 337px;
    }

    .searchBar_button {
        min-width: 51px;
    }

    .searchBar_searchText {
        display: none;
    }


    /* Host sections */
    #hostResult_and_popularHosts {
        flex-direction: column-reverse;
        margin: auto 0px auto 0px;
    }

    .hostSection_title {
        left: 15.5px;
    }

    /* Hosts from search result section */
    .hostResult {
        background-color: white;
        border-radius: unset;
    }

    .hostResult_tiles {
        grid-template-columns: 1fr;
        margin: auto 15.5px auto 15.5px;
        padding: auto 0 auto 0;
    }

    /* Popular hosts section */
    .popularHosts {
        margin: auto 0px auto 0px;
        border-radius: unset;
    }

    .popularHosts_chartLine {
        right: 15.5px;
    }

    .popularHosts_tiles {
        margin: auto 15.5px auto 15.5px;
        padding: auto 0 auto 0;
    }


    /* Activities section */
    .activitySection {
        margin-top: 0px;
    }

    .activityTiles {
        height: initial;
        margin: auto 15.5px auto 15.5px;
    }

    .activityTile {
        width: 100%;
        margin: 24px 0 0 auto;
    }



    /***************/
    /*** Footer ***/
    /*************/
    footer {
        flex-direction: column;
    }

    /* Footer info sections (about, our hosts or assistance) */
    footer > div {
        width: 100%;
    }
}