/* Main elements */
body {
    display: flex;
    flex-direction: column;
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
    min-height: 100vh;
    margin: 0;
}

h1 {
    font-size: x-large;
    font-weight: 700;
}

h2 {
    font-size: larger;
    font-weight: 700;
}

h3 {
    font-size: large;
    font-weight: 700;
}


/* Header */
header {
    display: flex;
    justify-content: space-between;
}

.reserviaLogo {
    width: 97px;
    height: 45px;
    position: absolute;
    left: 3.5%;
    z-index: 1;
}

.headerButtons {
    display: flex;
    align-items: flex-end;
    position: relative;
    right: 3.5%;
}

nav {
    display: flex;  
}

nav > a {
    text-align: center;
    text-decoration: none;
}

[href="#hébergements"] { color: #0065fc; }
[href="#activités"] { color:  black; }

.signupButton {
    color: #0065fc;
    font-weight: 700;
    text-decoration: none;
    position: relative;
    right: 3.5%;
}

.signupButton:hover { filter: brightness(75%); }


/* Main */
main {
    flex-grow: 1;
    margin: 0 3.5% 0 3.5%;
    padding-bottom: 62px;
}

.introduction_title {
    margin-top: 0px;
    margin-bottom: 0.4em;
}

.introduction {
    margin-block-start: 0;
}

.searchBar {
    display: flex;
    background-color: #F2F2F2;
    /*width: 420px;*/
    max-width: 100px;
    height: 51px;
    border-radius: 10px;
    margin-bottom: 31px;
}

.searchBar_icon {
    height: 18px;
    width: 13px;
    margin-top: 17px;
    margin-left: 19px;
    padding-right: 21px;
}

.searchBar_input {
    height: 49px;
    width: calc(93vw - 102px);
    max-width: 234px;
    border: none;
    margin-top: 1px;
    outline: none;

    font-weight: 700;
    font-size: larger;
}

.searchBar_button {
    background-color: #0065FC;
    border: none;
    outline: none;
    border-radius: 0px 10px 10px 0px;
    height: 51px;
    width: 134px;

    color: white;
    font-size: larger;
}

.searchBar_button:hover {
    background-color: #0052cc;
    cursor: pointer;
}

.searchBar_button:active {
    border: none;
}

.searchFilters_title {
    display: inline;
    margin-top: 0;
    margin-bottom: 0;
}

.searchFilters {
    display: flex;
    flex-wrap: wrap;
    padding-top: 19px;
}

.filterSwitch {
    display: flex;
    align-items: center;
    border-radius: 22px 22px 22px 22px;
    border: 2px solid #d9d9d9;
    width: fit-content;
    height: 46px;
    margin-left: 24px;
}

.filterSwitch_iconFrame {
    margin-left: -4px;
    width: 50px;
    height: 50px;
    border-radius: 25px 25px 25px 25px;
    background-color:#DEEBFF;
}

.filterSwitch_title {
    padding: 0px 13px 0px 13px;
    font-weight: 700;
}

#costIcon {
    width: 18px;
    height: 17px;
    margin-left: 16px;
    margin-top: 17px;
    filter: invert(39%) sepia(78%) saturate(6791%) hue-rotate(211deg) brightness(100%) contrast(106%);
}

.info {
    margin-top: 40px;
    margin-bottom: 40px;
}

.infoCircle {
    position: absolute;
    width: 22px;
    height: 22px;
    border-radius: 11px 11px 11px 11px;
    border: 1px solid #d9d9d9;
}

.infoCircle_icon {
    width: 4px;
    height: 12px;
    filter: invert(39%) sepia(78%) saturate(6791%) hue-rotate(211deg) brightness(100%) contrast(106%);
    margin-top: 5px;
    margin-left: 9px;
}

.infoText {
    margin-left: calc(22px + 12px);
    display: inline-block;
    margin-block-start: 0px;
    margin-block-end: 0px;
}

.hosts_and_activities {
    display: flex;
    flex-wrap: wrap;
}

.hosts {
    border-radius: 16px 16px 16px 16px;
    background-color: #f2f2f2;
    padding-bottom: 66px;
}

.mostPopular {
    position: relative;
    border-radius: 16px 16px 16px 16px;
    background-color: #f2f2f2;
}

.popular_chartLine {
    width: 22px;
    height: 18px;
    position: absolute;
    top: 65px;
    right: 32px;
}

.mostPopularTiles {
    display: grid;
    grid-template-columns: 1fr;
    margin-top: 38px;
    padding: 20px;
}

.hostTiles {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-top: 38px;
    padding: 20px;
}

#hosts_title {
    position: relative;
    top: 47px;
    left: 40px;
}

#hosts_seeMore {
    position: relative;
    top: 10px;
    left: 40px;
}

#hosts_seeMore > a {
    text-decoration: none;
    color: black;
}

#hosts_seeMore > a:hover {
    color: #595959;
}

.popularTile {
    /*width: min-content; TODO*/
    background-color: white;
    border-radius: 15px 15px 15px 15px;
    padding: 5px;
    box-shadow: 0px 0px 16px gray;
    margin: 15.5px;
    height: 120.6px;
    display: flex;
    max-width: 253px;
}

.tile {
    width: fit-content;
    height: fit-content;
    background-color: white;
    border-radius: 15px 15px 15px 15px;
    padding: 5px;
    box-shadow: 0px 0px 16px gray;
    margin: 15.5px;
}

.popularTileInfo {
    margin-right: 33.6px;
}

.tileTitle {
    font-size: medium;
    font-weight: 700;
    position: relative;
    left: 10px;
}

.tilePrice {
    font-size: small;
    position: relative;
    left: 10px;
}

.tilePriceBold {
    font-size: small;
    font-weight: 700;
    position: relative;
    left: 10px;
}

.tile_fullStar {
    width: 12px;
    height: 12px;
    filter: invert(39%) sepia(78%) saturate(6791%) hue-rotate(211deg) brightness(100%) contrast(106%);
    position: relative;
    left: 10px;
}

.tile_emptyStar {
    width: 12px;
    height: 12px;
    filter: invert(100%) sepia(0%) saturate(1095%) hue-rotate(28deg) brightness(85%) contrast(98%);
    position: relative;
    left: 10px;
}

.tile_image {
    background-size: cover;
    background-position: center;
    border-radius: 10px 10px 0px 0px;
    margin-bottom: 12px;
    width: 212.4px;/*236px;*/
    height: 102.6px;/*114px;*/
}

.popularTile_image {
    display: inline-block;
    background-size: cover;
    background-position: center;
    border-radius: 10px 0px 0px 10px;
    margin-bottom: 12px;
    min-width: 74.3px; /*127px;*/
    height: 120.6px;/*134px;*/

}

/* Activities */
.activitiesSection {
    margin-top: 47px;
}

.activities {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    height: 445px;
    max-width: 1230px;
    margin-left: -20px;
    margin-right: -20px;
}

.activityTile {
    border-radius: 15px 15px 15px 15px;
    box-shadow: 0px 0px 16px gray;
    margin-left: 20px;
    margin-right: 20px;
    padding-bottom: 36px;
    width: calc((93% - (3 * 40px)) / 4);
}

.activityTileImage {
    border-radius: 15px 15px 0px 0px;
    background-size: cover;
    background-position: center;
}

.activityTitle {
    font-size: medium;
    font-weight: 700;
    margin-left: 20px;
    margin-top: 0;
    margin-bottom: 0;
    position: relative;
    top: 20px;
}

#vieuxPort {
    background-image: url("images/activites/3_medium/reno-laithienne-QUgJhdY5Fyk-unsplash.jpg");
    height: 390px;
}

#fortDePomegues {
    background-image: url("images/activites/3_medium/paul-hermann-QFTrLdQIRhI-unsplash.jpg");
    height: 181px;
}

#ilesDuFrioul {
    background-image: url("images/activites/3_medium/kevin-hikari-rV_Qd1l-VXg-unsplash.jpg");
    height: 109px;
}

#parcNationalDesCalanques {
    background-image: url("images/activites/3_medium/kilyan-sockalingum-NR8-cBCN3aI-unsplash.jpg");
    height: 390px;
}

#notreDameDeLaGarde {
    background-image: url("images/activites/3_medium/florian-wehde-xW9e8gdotxI-unsplash.jpg");
    height: 140px;
}

#parcLongchamp {
    background-image: url("images/activites/3_medium/lena-paulin-wH2-EJoDcV0-unsplash.jpg");
    height: 153px;
}



#aubergeLaCannebiere {
    background-image: url("images/hebergements/4_small/marcus-loke-WQJvWU_HZFo-unsplash.jpg");
}

#hotelDuPort {
    background-image: url("images/hebergements/4_small/fred-kleber-gTbaxaVLvsg-unsplash.jpg");
}

#hotelLesMouettes {
    background-image: url("images/hebergements/4_small/reisetopia-B8WIgxA_PFU-unsplash.jpg");
}

#hotelDeLaMer {
    background-image: url("images/hebergements/4_small/annie-spratt-Eg1qcIitAuA-unsplash.jpg");
}

#aubergeLePanier {
    background-image: url("images/hebergements/4_small/nicate-lee-kT-ZyaiwBe0-unsplash.jpg");
}

#hotelChezAmina {
    background-image: url("images/hebergements/4_small/febrian-zakaria-M6S1WvfW68A-unsplash.jpg");
}


/* Popular */
#hotelLeSoleilDuMatin {
    background-image: url("images/hebergements/4_small/emile-guillemot-Bj_rcSC5XfE-unsplash.jpg");
}

#auCoeurDeLeauChambresDhotes {
    background-image: url("images/hebergements/4_small/aw-creative-VGs8z60yT2c-unsplash.jpg");
}

#hotelToutBleuEtBlanc {
    background-image: url("images/hebergements/4_small/febrian-zakaria-sjvU0THccQA-unsplash.jpg");
}

/* Footer */
footer {
    background-color: #F2F2F2;
    display: flex;
    padding-top: 49px;
    padding-bottom: 55px;
    padding-left: 3.5%;
    padding-right: 3.5%;
}

footer > div {
    flex-grow: 1;
    width: 0%;
}

footer > div > p > a {
    text-decoration: none;
    color: black;
}

footer > div > p > a:hover { color: #595959; }


.searchBar_searchIcon {
    width: 17px;
    height: 17px;
    filter: invert(100%) sepia(0%) saturate(7500%) hue-rotate(95deg) brightness(108%) contrast(109%);
}

/* Large screens */
@media only screen and (min-width: 801px) {
    /* Header */
    .reserviaLogo {
        margin-top: 52px;
    }

    nav > a { padding: 45px 32.5px 0px 32.5px; }

    nav > a:hover {
        padding-top: 43px;
        border-top: 2px solid #0065fc;
    }

    main {
        margin-top: 72px;
    }

    .introduction_title {
        margin-bottom: 0.4em;
    }
    
    .introduction {
        margin-block-end: 1.5em;
    }

    .mostPopular {
        margin-left: 40px;
    }

    .always_active {
        padding-top: 43px;
        border-top: 2px solid #0065fc;
    }

    .searchBar_searchIcon {
        display: none;
    }

    .searchFilters {
        margin-top: 0;
        display: inline-flex;
    }

    .signupButton { margin-left: 32.5px; }
}

/* Medium screens */
@media only screen and (min-width: 801px) and (max-width: 1262px) {
    /* Header */
    .mostPopularTiles {
        grid-template-columns: 1fr 1fr 1fr;
    }

    .mostPopular {
        margin-left: 0px;
        max-width: 800px;
        margin-top: 40px;
    }

    .activities {
        max-width: 840px;
    }
}


/* Small screens */
@media only screen and (max-width: 800px) {
    /* Header */
    .reserviaLogo {
        margin-top: 32px;
    }

    .headerButtons {
        flex-direction: column-reverse;
        margin-top: 45px;
        width: 100%;
        left: 0;
    }

    .activitiesSection {
        margin-top: 0px;
    }

    .activities {
        flex-direction: column;
        flex-wrap: nowrap;
        height: fit-content;
        margin-left: 0px;
        margin-right: 0px;
    }

    .activityTile {
        margin-left: 0;
        margin-right: 0;
        margin-top: 24px;
        width: 100%;
    }

    nav { 
        width: 100%; 
        margin-top: 45px;
    }

    nav > a {
        width: 50%;
        padding-bottom: 13px;
    }

    nav > a:hover {
        border-bottom: 2px solid #0065fc;
        padding-bottom: 11px;
    }

    main {
        margin-top: 40px;
    }

    .hosts_and_activities {
        flex-direction: column-reverse;
    }

    #hosts_title {
        left: 15.5px;
    }

    .popular_chartLine {
        right: 15.5px;
    }

    .hosts {
        background-color: white;
        margin-left: -3.5vw;
        width: 100vw;
        border-radius:unset;
    }

    .mostPopular {
        margin-left: -3.5vw;
        width: 100vw;
        border-radius:unset;
    }

    .mostPopularTiles {
        padding-left: 0;
        padding-right: 0;
    }

    .hostTiles {
        padding-left: 0;
        padding-right: 0;
        grid-template-columns: 1fr;
    }
    
    .introduction {
        margin-block-end: 2em;
    }

    .always_active {
        border-bottom: 2px solid #0065fc;
        padding-bottom: 11px;
    }

    .searchBar {
        width: 337px;
    }

    .searchBar_button {
        min-width: 51px;
    }

    .searchBar_searchText {
        display: none;
    }

    footer {
        flex-direction: column;
    }

    footer > div {
        width: 100%;
    }
}